{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <h1>Editer les biens</h1>
                {{ form_start(propertyForm) }}
                <div class="row">
                    <div class="col-md-4">{{ form_row(propertyForm.title) }}</div>
                    <div class="col-md-4">{{ form_row(propertyForm.surface) }}</div>
                    <div class="col-md-4">{{ form_row(propertyForm.price) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{ form_row(propertyForm.rooms) }}</div>
                    <div class="col-md-4">{{ form_row(propertyForm.bedrooms) }}</div>
                    <div class="col-md-4">{{ form_row(propertyForm.floor) }}</div>
                </div>


                {{ form_widget(propertyForm) }}


                <button type="submit" class="btn btn-primary">Submit</button>
                {{ form_end(propertyForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>$('select').select2();</script>
{% endblock %}