{% extends 'base.html.twig' %}
{% block title 'Tous nos produits' %}
{% block body %}
<div class="container mt-4">

        <h1>Les produits</h1>

    <div class="row flex ">
        {% for prop in product %}
            <div class="col-3">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show',{id:prop.id,slug: prop.slug}) }}">{{ prop.title }}</a>
                        </h5>
                        <p class="card-text">
                            {{ prop.city }}
                        </p>
                        <div class="text-primary" style="font-weight: bold; font-size: 2rem">
                            {{ prop.price }} €
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>
{#    <a href="{{ path('property.new') }}">Remplir le formulaire</a>#}
</div>
{% endblock %}