{% extends 'base.html.twig' %}
{% block title 'Tous nos produits' %}
{% block body %}
<div class="container mt-4">
        <div class="jumbotron">
            <div class="container">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.maxPrice) }}</div>
                    <div class="col-md-4">{{ form_row(form.minSurface) }}</div>
                    <div class="col-md-4">{{ form_row(form.submit) }}</div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <h1>Les produits</h1>

    <div class="row flex ">
        {% for prop in product %}
            <div class="col-3">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show',{id:prop.id,slug: prop.slug}) }}">{{ prop.title }}</a>
                        </h5>
                        <p class="card-text">
                            {{ prop.city }}
                        </p>
                        <div class="text-primary" style="font-weight: bold; font-size: 2rem">
                            {{ prop.price }} €
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="navigation mt-5">
        {{ knp_pagination_render(product) }}
    </div>

    <br>
</div>
{% endblock %}